<%if @user.present?%>
<h1>User</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
    </tr>
  </thead>

  <tbody>
	  <tr>
	    <td><%= @user.name %></td>
	    <td><%= @user.email %></td>
	    
	  </tr>
  </tbody>
</table>
<%end%>
<%= link_to 'Back', employees_path %>